<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNWbQY6N0fWpd3mnjX5Nh6w0UeB-y3JEk</string>
	<key>GCM_SENDER_ID</key>
	<string>536613496347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emeka.socialmediaappwithfirebase</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-with-fi-5a2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-with-fi-5a2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536613496347:ios:f8269487ec9dcd886efabe</string>
</dict>
</plist>